body {
    background-color: #0F172A;
    text-align: center;
    display: flex;
    flex-direction: column; /* Alinha os itens verticalmente */
    justify-content: flex-start; /* Começa do topo */
    align-items: center; /* Centraliza horizontalmente */
    height: 100vh;
    margin: 0;
    font-family: 'Poppins', sans-serif;
    color: whitesmoke;
    padding: 30px;
    box-sizing: border-box;
}
.content {
    text-align: left;
    display: flex;
    flex-direction: column;
    gap: 20px;
    padding: 30px;
    border-radius: 10px;
    align-items: center;
    
}
.content > ul {
    list-style: none;
    padding: 0;
    display: flex;
    justify-content: center;
    gap: 20px;
    margin-top: 10px;
    margin-bottom: 30px;
}

.content > ul li {
    background-color: #334155;
    padding: 10px 15px;
    border-radius: 8px;
    transition: background-color 0.3s, transform 0.2s;
}

.content > ul li:hover {
    background-color: #A3E635;
    transform: scale(1.05);
}

.content > ul li a {
    text-decoration: none;
    color: whitesmoke;
    font-weight: bold;
    font-size: 16px;
}

.content > ul li:hover a {
    color: #0F172A;
}

h1 {
    font-size: 36px;
    text-align: center;
    color: #A3E635;
}
h2 {
    font-size: 28px;
    color: #86EFAC;
    border-bottom: 2px solid #A3E635;
    padding-bottom: 5px;
}
p {
    font-size: 18px;
    line-height: 1.6;
}
ul {
    margin-left: 20px;
}
li {
    margin-bottom: 8px;
}
.highlight {
    color: #A3E635;
    font-weight: bold;
}
button {
    padding: 10px 20px;
    font-size: 16px;
    background-color: #A3E635;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    align-self: center;
    
    margin-bottom: 5px; /* Espaço abaixo do botão */
}
button:hover {
    background-color: #334155;
    color: whitesmoke;
}